# Copy this file to .env and fill in the values

# Server
PORT=3000
CLIENT_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb+srv://pranavkkp4_db_user:HackCU2026Pass123@hackcu.nlp6hlj.mongodb.net/ecoleaders?retryWrites=true&w=majority&appName=HackCU

# Auth
JWT_SECRET= HackCU_potato_secret_key_2026_9d83fjs8f93jfsdf

# AI & Audio Keys
GEMINI_API_KEY=AIzaSyCS23CiaMsIVOiYpuMR8lwspiKxtxgLRl4
ELEVENLABS_API_KEY=sk_3f94ec57a7f39264b2d28233e45fdef1e6ea4af7742d7ae5

# Frontend
VITE_API_BASE_URL=http://localhost:3000
